@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Padauk');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

/*********HEADER*************/
header {
  background-color: #ffffff;
  border-bottom: 2px solid #000;
  height: auto;
  overflow: hidden;
  margin-bottom: 0px;
}

header img {
  padding: 10px 25px;
  float: left;
}

header nav {
  margin: 20px 50px 25px 79px;
  padding-top: 6px;
  display: none;
  float: left;
}

header nav ul li {
  display: inline-block;
  padding-bottom: 15px;
}

header hr {
  border: 2px solid #000;
  margin-bottom: 2px;
  margin: 5px 5px 0px 0px;
}


a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

header nav ul li.navTitle {
  text-transform: uppercase;
  font-family: 'Fugaz One', cursive;
  font-weight: 300;
  list-style: none;
  color: #000;
  font-size: 14px;
  padding-right: 28px;
  padding-top: 5px;
}

.hamburgerMenu {
  float: right;
  width: 50px;
  margin-top: 27px;
  margin-right: 35px;
 
}

/********Gallery*************/
body{
  
  float: none;
  margin: auto; 
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 48px;
  padding-bottom: 50px;
  padding-top: 80px;
  color: #000;
  margin-left: 149px;
}

.tiles {
  transform: scale(1);
}

.tiles img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  
}

 
.middle {
  background: url("../images/") no-repeat bottom center; 
  background-size: cover;
  margin-top: -10px;
  margin-bottom: -17px;
} 

#latest {  
  max-width: 900px;
  margin: 1rem 96px 1rem -161px;
  padding-left: 266px;
  column-count: 3;
  column-gap: 3rem;
  column-width: 33.33333333333333%;
}


/*********FOOTER*************/


footer {
  font-family: 'Padauk', sans-serif;
  background-color: #ffffff;
  min-height: 150px;
  padding: 24px 0px 0px 143px;
  border-top: 2px solid black;

}

footer img {
  width: 220px;
  height: 60px;
  margin: 5px 0px 0px 134px; 
}

footer p {
  font-size: 12px;
  color: #000;
  margin: 2px 0px 5px 179px;
}

footer ul li,
footer h5 {
  list-style: none;
  color: #000;  
}

footer ul {
  margin-left: 171px;
} 

footer ul li {
  display: inline;
  margin-right: 8px;
}

footer h5 {
  display: none;
}

footer ul li i {
  color: black;
}

.icon-twitter-sign,
.icon-pinterest-sign,
.icon-facebook-sign,
.icon-instagram {
  text-decoration: none;
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
/*********Header*************/

header {
  padding: 15px 0px 15px 0px;
}


header img {
  padding: 10px 0px 0px 569px;
  
}


header nav {
  color: #000;
  margin-right: 50px;
  margin-top: 20px;
  padding-top: 6px;
  display: inline;

}

header ul {
    margin: 20px 0 -30px 383px;
}

header nav ul li {
  padding-right: 70px;
  font-size: 14px;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

header nav ul li.navTitle {
  text-transform: uppercase;
  font-family: 'Fugaz One', cursive;
  font-weight: 300;
  list-style: none;

}

.hamburgerMenu {
  display: none;
}

/********Gallery*************/

body{
  float: none;
  margin: auto; 
}

 h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  padding-bottom: 50px;
  padding-top: 80px;
  color: #000;
  margin-left: 265px;
}
 
.middle {
  background: url("../images/") no-repeat bottom center; 
  background-size: cover;
  margin-top: -10px;
  margin-bottom: -17px;
} 

.tiles {
  transform: scale(1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.tiles img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  
}


#latest {  
  max-width: 900px;
  margin: 1rem 0;
  padding-left: 266px;
  column-count: 3;
  column-gap: 3rem;
  column-width: 33.33333333333333%;
}

/*********FOOTER*************/

footer {
  background-color: #ffffff;
  min-height: 150px;
  padding: 24px 0px 0px 50px;
  display: flex;
  border-top: 2px solid #000;
  margin-top: 25px;
}

footer img {
  width: 220px;
    height: 60px;
    margin: 23px 0px 0px 100px;
}

footer p {
  margin: 95px 0px 10px 309px;
  font-size: 12px;
  color: #000;
}

footer ul li,
footer h5 {
  list-style: none;
  color: #000;  
}

footer ul li {
  display: inline;
  margin-right: 8px;
}
footer ul {
  margin-left: 0px;
}

footer ul li i:hover {
  color: black;
  text-decoration: none;
}

footer ul li i {
  color: #000;
}


footer h5 {
  font-size: 21px;
  font-weight: 300;
  display: flex;
  font-family: 'Fugaz One', cursive;
}

footer div {
  margin: 28px 0px 0px 340px;
}