
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #1c1c1b;
	border-bottom: 2px solid #44e9e6;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
}

header img {
	padding: 0px 25px;
	float: left;
}

header nav {
	color: white;
	margin-top: 60px;
	margin-left: 25px;
	padding-top: 6px;
	display: none;
}

header nav ul li {
	display: block;
	padding-bottom: 15px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	/**font-family: 'Oswald', sans-serif;**/
	font-weight: 300;
	list-style: none;

}

header nav ul li.noCaps {
	text-transform: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	list-style: none;
	font-size: 14px;
}

.hamburgerMenu {
	float: right;
	width: 50px;
	padding-right: 25px;
	padding-top: 4px;
	margin-top: 21px;
	position: static;
}

.hamburgerMenu hr {
	border: 2px solid #ffffff;
	margin-bottom: 4px;

}

/***********Hero***********/

#hero {
	background-image: url("../images/art1.png");
	background-size: cover;
	background-position: center;
	height: 230px;
	width: 100%;
	overflow: hidden;
	padding: 25px;
}


aside.box {
	background: rgba(255,255,255,0.75);
	max-height: 200px;
	max-width: 400px;
	float: left;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.box h2 {
	font-weight: 700;
}

aside.box p {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
}
aside.box p span {
	display: none;

}

aside.box button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #FFFF00;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 5px 0px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #cccb2c;
}

/***********Three Columns***********/

#threeColumns {
	padding-top: 25px;
	padding-bottom: 25px;
	width: auto;
	background-color: darkgray;

} 

#threeColumns .column1 {
	padding-bottom: 50px;
} 

#threeColumns .column1 h2 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 18px;
}

#threeColumns .column1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 70%;	
}

#threeColumns .column1 button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #c6c6c6;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 5px 0px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #969696;
}

footer {
	background-color: #1c1c1b;
    min-height: 150px;
    padding: 24px 0px 0px 50px;

}

footer img {
	width: 220px;
    height: 60px;
    margin: 5px 0px 0px 134px; 
}

footer p {
	font-size: 12px;
	color: white;
	margin: 2px 0px 5px 179px;
}

footer ul li,
footer h5 {
	list-style: none;
	color: white;	
}

footer ul {
	margin-left: 171px;
} 

footer ul li {
	display: inline;
	margin-right: 8px;
}

footer h5 {
	display: none;
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/***********Header***********/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

header {
	padding: 15px 0px 15px 0px;
}

header img {
	padding: 0px 75px;
	
}

.hamburgerMenu {
		display: none;
	}

header nav {
	color: white;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	padding-top: 6px;
	display: inline;
}

header nav ul li {
	float: left;
	padding-right: 25px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;

}

header nav ul li.noCaps {
	text-transform: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	list-style: none;
	font-size: 14px;
}

/*****************Blog*****************/

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 60px;
	font-weight: 800;
	color: #db5587;

}
.blog:after {
     content: ".";
     display: block;
     clear: both;
} 

section {
  padding: 75px 362px 56px 100px;
  background-color: #ffffff;
}


#articles {
    width: 700px;
}

#articles.leftSide button {
	font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #000;
    font-weight: 300;
    font-size: 20px;
    padding: 9px 14px;
    margin-top: 5px;
    border: 0;
    outline: 0;
    text-transform: lowercase;
    border-radius: 10px;
}

article p {
    font-size: 24px;
    font-weight: 300;
    color: #606060;
}

article p::first-letter {
    float: left;
    font-size: 300%;
    font-weight: 600;
    padding-right: 10px;
}

article div {
    text-align: right;
}

article img {
	max-width: 710px; 
}

article h3,
article img,
article p {
    margin-bottom: 30px;
}


hr {
    width: 100%;
    background: #db5587;
    margin: 40px 0px 50px 0px;
    border: 1px solid #db5587;
}

aside {
    width: 240px;
    color: #000;
}


#about {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 40px;
    font-weight: 800
}

#about p {
    font-weight: 300;
    max-height: 110px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

#about a {
    font-weight: 400;
    color: #000;
    text-transform: lowercase;
}

#about img {
	max-width: 241px;
	margin-bottom: 10px;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
}



.blog {
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
}

.leftSide {
  float: left;
}

.rightSide {
  float: right;
  margin-top: 66px;
}

h4 {
  font-size: 32px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;

}



/***********Hero***********/

#hero {
	height: 400px;
	overflow: visible;
}

aside.box {
	background: rgba(170,95,152,0.75);
	height: auto;
	max-height: 70px;
    max-width: 150px;
	float: left;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	font-family: 'Source Sans Pro', sans-serif;
	padding: 16px;
	text-align: center;
}

aside.box h2 {
	font-weight: 700;
	font-size: 30px;
}


/***********Three Columns***********/

#threeColumns {
	display: flex;
} 

#threeColumns .column1 {
	margin: 0px 15px;
	padding-bottom: 154px;
    border: 1px solid black;
} 

#threeColumns .column1 h2 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 18px;
}

#threeColumns .column1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 70%;	
}

#threeColumns .column1 button {
	font-family: 'Oswald', sans-serif;
	color: black;
	background-color: #c6c6c6;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	padding: 5px 0px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px #969696;
}
/***********Footer***********/

footer {
	background-color: #1c1c1b;
    min-height: 150px;
    padding: 24px 0px 0px 50px;
    display: flex;
}

footer img {
	width: 220px;
    height: 60px;
    margin: 23px 0px 0px 60px; 
}

footer p {
	margin: 95px 0px 10px 330px;
	font-size: 12px;
	color: white;
}

footer ul li,
footer h5 {
	list-style: none;
	color: white;	
}

footer ul li {
	display: inline;
	margin-right: 8px;
}
footer ul {
	margin-left: 0px;
}

footer h5 {
	font-size: 21px;
    font-weight: 300;
    display: flex;
}

footer div{
	margin: 28px 0px 0px 415px;
}


